html,
body {
  height: 100%;
}

body {
  /* http://subtlepatterns.com/ */
  background-image: url("../img/ecailles.png");
  line-height: 20px;
  color: #333333;
  font-family: 'Julius Sans One', sans-serif;
}

a {
  color: #DD362D;
}

a:hover {
  color: #ececec;
}

nav ul, ul.entries {
  list-style-type: none;
}

nav li a {
  position: relative;
  float: right;
  padding: 5px;
}

/* 
 * Main Grid View
 */

ul.entries li {
  position: relative; 
  margin: 20px auto 20px 20px;
}

ul.entries li .dditle {
  font-family: 'Raleway', sans-serif;
  position: absolute;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: #49565C;
  z-index: 10;
  width: 100%;
  text-align: center;
  top: 40%; 
  left: 0;
}

ul.entries li:hover .dditle {
    display: none;
}

ul.entries li .dditle span {
  padding: 5px;
  background: white;
  display: inline-block;
}

ul.entries li .overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  cursor: pointer;
  margin: 0;
  color: #F4F5F0;
  background: rgba(0,0,0,0.7);
  vertical-align: middle;
  z-index: 20;
  font-size: 12px;
  text-transform: uppercase;
  text-indent: 15px;
}

ul.entries li .overlay .dditle {
  font-size: 22px;
  padding-bottom: 10px;
  border-bottom: 1px solid #F4F5F0;
  color: white;
}

ul.entries li .overlay span {
  white-space: nowrap;
}

ul.entries li .overlay em {
  color: #DD362D;
  display: block;
  margin-top: 5px;
  text-transform: none;
  overflow: none;
}

ul.entries li:hover .overlay {
  opacity:1;
}

ul li.span6:nth-child(3) {
  margin-left: 0px;
}

ul.portfolio-page {
  margin: 0 0 10px 0px;
}

.container-fluid {
  padding-right: 2%;
  padding-left: 2%;
}

.space {
  margin-top: 50px;
}

.hero-unit {
  font-size: 16px;
  border:1px solid #e5e5e5;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
}

h4 {
  color: #DD362D;
  display: block;
  margin-top: 15px;
  text-transform: none;
  font-style: italic;
  overflow: none;
}

.dd569 {
  height: 569px;
  overflow: hidden;
}

.dd824 {
  height: 824px;
}

.dd681 {
  height: 681px;
  overflow: hidden;
}

.dd772 {
  height: 772px;
}

.carousel-control {
  top: 300px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #000000;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  margin: auto;
}

.carousel-indicators li {
  background-color: #777777; 
}

.carousel-indicators.middle {
  left: 0;
  right: 0;
  top: auto;
  bottom: 15px;
  text-align: center;
}

.carousel-indicators.middle li {
  float: none;
  display: inline-block; 
}

.js-video {
  height: 0;
  padding-top: 25px;
  padding-bottom: 67.5%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}
 
.js-video.widescreen {
  padding-bottom: 57.25%;
}
 
.js-video.vimeo {
  padding-top: 0;
}

.js-video embed, .js-video iframe, .js-video object, .js-video video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px
}

#push, #footer {
  height: 60px;
}

#footer {
  text-align: center;
  padding:30px 0;
  border-top:1px solid #e5e5e5;
  background-color: #000000;
  color: #cccccc;
  font-family: 'Raleway', sans-serif;
}

#footer p {
  margin-bottom: 0;
}

@media (max-width: 979px) {

  ul.entries li .overlay {
    display: none;
  }
}

@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 480px) {
.dd569 {
  height: 100%;
}

.dd824 {
  height: 100%;
}

.dd681 {
  height: 100%;
}

.dd772 {
  height: 100%;
}
  ul.entries li .overlay {
    display: none;
  }
  .hero-unit {
    padding: 10px;
  }
  .space {
  margin-top: 20px;
}
.container-fluid {
  padding-right: 0.6%;
  padding-left: 0.6%;
  }
}

nav li a {
  position: absolute;
  float: center;
  padding: 2px;
}