html,
body {
  height: 100%;
}

body {
  /* http://subtlepatterns.com/ */
  background-image: url("../img/low_contrast_linen.png");
  line-height: 20px;
  color: #333333;
  font-family: 'Julius Sans One', sans-serif;
}

a {
  color: #00adef;
}

a:hover {
  color: #00adef;
}

h3 {
  margin: 5px 0;
  margin-bottom:0;
  font-family: 'Raleway', sans-serif;
}

nav li {
  position: relative;
  float: right;
  padding: 5px;
  list-style: none;
}

.icondd {
  margin-top: 5px;
  height: 50px;
  width: 50px;
}

.icondd:hover {
  opacity: 0.4;
  cursor: pointer;
}

/* 
 * Main Grid View
 */

ul.entries li {
  position: relative; 
  margin: 20px auto 20px 20px;
}

ul.entries li .overlaydark {
  opacity: 1;
  /* color: #eeeeee; */
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100.51%;
  cursor: pointer;
  margin: 0;
  background: rgba(0,0,0,0.4);
  vertical-align: middle;
  z-index: 20;
  font-size: 14px;
  text-transform: uppercase;
  text-indent: 15px;
  overflow: none;
}

ul.entries li .overlaydark span {
  /*white-space: nowrap; */
}

ul.entries li .overlaydark em {
  /* color: #DD362D; */
  color: transparent;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: none;
}

ul.entries li:hover .overlaydark {
  color: #eeeeee;
  background: rgba(0,0,0,0.7);
}

ul.entries li:hover .overlaydark em {
  color: #DD362D;
}

ul li.span6:nth-child(3) {
  margin-left: 0;
}

ul.portfolio-page {
  margin: 0 0 10px 0;
}

p {
  margin-bottom: 0;
}

.container-fluid {
  padding-right: 2%;
  padding-left: 2%;
}

.space {
  margin-top: 45px;
}

.space2 {
  margin-top: 10px;
}

.hero-unit {
  padding:30px;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
}

h4 {
  color: #DD362D;
  display: block;
  margin-top: 15px;
  text-transform: none;
  font-style: italic;
  overflow: none;
}

.carousel-caption {
  color: #333333;
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  height: 5%;
  padding: 0;
  background: transparent;
  background: rgba(0, 0, 0, 0); 
}

.carousel-control {
  top: 300px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #000000;
}

.carousel-caption h4,
.carousel-caption p {
  color: #DD362D;
  line-height: 20px;
}
.carousel-caption h4 {
  margin: 0 0 0;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  margin: auto;
}

.carousel-indicators li {
  background-color: #777777; 
}

.carousel-indicators.middle {
  left: 0;
  right: 0;
  top: auto;
  bottom: -15px;
  text-align: center;
}

.carousel-indicators.middle.dd {
  bottom: 10px;
}

.carousel-indicators.middle li {
  float: none;
  display: inline-block; 
}

.carousel-control.right {
  right: 15px;
}

.carousel-control.left {
  left: 15px;
}

.js-video {
  height: 0;
  padding-top: 25px;
  padding-bottom: 67.5%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}
 
.js-video.widescreen {
  padding-bottom: 57.25%;
}
 
.js-video.vimeo {
  padding-top: 0;
}

.js-video embed, .js-video iframe, .js-video object, .js-video video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px
}

#push, #footer {
  height: 60px;
}

#footer {
  text-align: center;
  padding:30px 0;
  background-color: #000000;
  color: #cccccc;
  font-family: 'Raleway', sans-serif;
}

#footer p {
  margin-bottom: 0;
}


@media (max-width: 979px) {
  /*
  ul.entries li .overlaydark {
  display: none;
  }
  */
}

@media (max-width: 767px) {
  .carousel-control {
    top: 100px;
  }
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 480px) {

  body {
    padding-left: 2%;
    padding-right: 2%;
  }
  /*
  ul.entries li .overlaydark {
    display: none;
  }
  */
  .hero-unit {
    padding: 10px;
  }
  .space {
    margin-top: 20px;
  }
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }

  .icondd {
    height:40px;
    width:40px;
  }

  ul.entries li:hover .overlaydark  {
    color: transparent;
  }

  ul.entries li:hover .overlaydark em {
    color: transparent;
  }

}



