    <!DOCTYPE html>
    <html>
    <head>
      <meta charset=utf-8 />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title> {% if page.title %} {{ page.title }} | {% endif %} doubledi * mobile development</title>
      <link rel="stylesheet" href="/css/bootstrap.css" media="screen">
      <link rel="stylesheet" href="/css/style.css" media="screen">
      <link href='http://fonts.googleapis.com/css?family=Julius+Sans+One|Raleway' rel='stylesheet' type='text/css'>
    </head>
    <body>
      <div id="wrap">
        <div class="container-fluid">
          <div class="row-fluid"> 
            <nav role="navigation">
              <ul>
                <!--
                <li><a href="https://twitter.com/doubledidouble" target="_blank"><img src="/img/icon-twitter.png"></a>
                </li>
                <li><a href="http://www.linkedin.com/pub/dianna-mertz/5a/112/3bb" target="_blank"> <img src="/img/icon-in.png"></a></li>
                <li><a href="https://github.com/doubledi?tab=repositories" target="_blank"> <img src="/img/icon-github.png"></a></li>
                <li><a href="mailto:diannamertz@gmail.com" target="_top" title="E-mail me!"> <img src="/img/icon-contact.png" alt="E-mail me!"></a></li>
                <li><a href="#myModal" role="btn" data-toggle="modal"> <img src="/img/icon-info.png"></a></li>
                -->
                
                <li><a href="https://twitter.com/doubledidouble" target="_blank"><object id="icondd" height="60px" width="60px" data="/img/icon-twitter.svg" type="image/svg+xml"></object></a></li>
                <li><a href="https://twitter.com/doubledidouble" target="_blank"><object id="icondd" height="60px" width="60px" data="/img/icon-in.svg" type="image/svg+xml"></object></a></li>
                <li><a href="https://github.com/doubledi?tab=repositories" target="_blank"><object id="icondd" height="60px" width="60px" data="/img/icon-github.svg" type="image/svg+xml"></object></a></li>
                <li><a href="mailto:diannamertz@gmail.com" target="_top" title="E-mail me!"><object id="icondd" height="60px" width="60px" data="/img/icon-contact.svg" type="image/svg+xml"></object></a></li>
                <li>
                    <a href="#myModal" role="btn" data-toggle="modal"><object id="icondd" height="60px" width="60px" data="/img/icon-info.svg" type="image/svg+xml"></object></a>
                </li>
                <li>
                    <svg  version="1.1" 
                          id="Layer_1" 
                          xmlns="http://www.w3.org/2000/svg" 
                          xmlns:xlink="http://www.w3.org/1999/xlink" 
                          x="0px" 
                          y="0px"
                          width="260px" 
                          height="60px" 
                          viewBox="0 0 260 60" 
                          enable-background="new 0 0 260 60" 
                          xml:space="preserve">
                      <a  xlink:href="/index.html" 
                          target="_top">
                        <text   transform="matrix(1 0 0 1 0.5049 45.041)" 
                                fill="#DD362D" 
                                font-family="'OriyaSangamMN'" 
                                font-size="61.0459">DOUBLEDI
                        </text>
                        <text   transform="matrix(1 0 0 1 5.7803 50.127)" 
                                fill="#00ADEF" 
                                font-family="'OriyaSangamMN'" 
                                font-size="61.0459">DOUBLEDI
                        </text>
                      </a>
                   </svg>
                </li>

                </ul>
            </nav>

          </div> <!--row-fluid-->
          <!-- Modal -->
          <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">About doubledi</h3>
            </div>
            <div class="modal-body">
              <p>I design and develop mobile apps.</p>
            </div>
          </div>
          {{ content }}
        </div> <!--container-->
        <div id="push"></div>
      </div><!--wrap-->
      <div id="footer">
        <div class="container">
          <p>&copy; DOUBLEDI 2013 | All Rights Reserved.</p>
        </div>
      </div> <!--footer-->
      <script src="http://code.jquery.com/jquery.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <script src="/js/script.js"></script>
      <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38704004-1']);
      _gaq.push(['_setDomainName', 'doubledi.com']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'    ;
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

</script>
    </body>
    </html>
